#title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
}

#img {
    display: inline-block;
    margin-right: 50px;
}

#img2 {
    display: inline-block;
}

.div {
    display: flex;
    padding-top: 25px;
}